body{
	padding: 2% 6%;
}
p {
	color: #1a1a1a;
	font-family: Merriweather, Georgia, serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.75;
}

h1 {
    font-family: Montserrat, "Helvetica Neue", sans-serif;
	font-size: 30px;
	font-size: 2rem;
	font-weight: 700;
	line-height: 1.25;
	margin-bottom: 1em;
}
header  {
	text-align: center;
	border-bottom: 4px solid #1a1a1a;
}


img {
	max-width: 100%;
}
.col3 {
	width: 30%;
	display: block;
	float: left;
	min-width: 300px;
	padding-right: 3%;
}
h2 .col3 {
	text-align: center;
}
footer img {
	width: 100px;
}