body{
	padding: 2% 6%;
}
p {
	color: #1a1a1a;
	font-family: Merriweather, Georgia, serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.75;
}
a {
	text-decoration: none;
}

h1 , h2{
    font-family: Montserrat, "Helvetica Neue", sans-serif;
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1.5rem;
}
header  {
	text-align: center;
	border-bottom: 4px solid #1a1a1a;
}


img {
	max-width: 100%;
}
.col3 {
	width: 31%;
	display: block;
	float: left;
	min-width: 300px;
	padding-right: 2%;
}
h2 .col3 {
	text-align: center;
}
footer {
	clear: both;
	border-top: 4px solid #1a1a1a;
}
footer img {
	width: 13%;
	min-width: 50px;
	margin-right: 3%;

}
